<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <title>EShop application</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">EShop</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">List</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row py-12 ">
        <div class="row py-2 px-4">
            <a class="btn btn-primary" th:href="@{/products}">Return to products</a>
        </div>
        <div class="col-12">

            <a class="btn btn-primary" th:href="@{/products/max}">Find max price</a>
            <a class="btn btn-primary" th:href="@{/products/min}">Find min price</a>
            <a class="btn btn-primary" th:href="@{/products/min-max}">Find min and max price</a>
            <a class="btn btn-success" th:href="@{/product}">New product</a>
        </div>

        <div class="col-12 mt-3">
            <form    method="get" th:action="@{/category}" >
                <label>Category_title</label>
                <input type="text" name="title" id="title" th:value="${param.name}"/>
                <label>Price above</label>
                <input type="text" name="price" id="price" th:value="${param.name}"/>

                <button class="btn btn-primary" type="submit">Filter</button>
            </form>
        </div>

        <div class="col-12">            <!-- т.е. на все 12 колонок экрана (на всю активную ширину)-->
            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category id</th>
                    <th scope="col">Category title</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p : ${categoryPage}">
                    <th scope="row" th:text="${p.id}">1</th>
                    <td th:text="${p.title}">Product title</td>
                    <td th:text="${p.price}">Product price</td>
                   <td th:text="${p.category.id}">Category id</td>
                    <td th:text="${p.category.title}">Category title</td>
                    <td>
                        <a class="btn btn-success" th:href="@{/product/{id}(id = ${p.id})}"><i class="fas fa-edit"></i></a>
                        <form class="d-inline" th:action="@{/product/{id}/delete(id = ${p.id})}" th:method="delete">
                            <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
                </tbody>
                <div class="col-12">
                    <nav aria-label="...">
                    <ul class="pagination">

                        <li class="page-item"  th:classappend= "${ categoryPage.number==0} ? 'disabled' ">
                            <a class="page-link" th:href="@{category( page=${categoryPage.number } )}" tabindex="-1">Previous</a>
                        </li>
                        <li th:each="num: ${#numbers.sequence(1, categoryPage.totalPages)}"
                            class="page-item"
                            th:classappend="${num == categoryPage.number + 1} ? 'active'">
                            <a class="page-link"
                               th:text="${num}"
                               th:href="@{category(page=${num}, size=${categoryPage.size}, title=${param.title}, price=${param.price})}">1</a>
                        </li>


                        <li class="page-item" >
                            <a class="page-link" th:href="@{category( page=${categoryPage.number+2 } )} ">Next</a>
                        </li>
                    </ul>
                </nav>
                </div>
            </table>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>